<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staker.flags">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dates"/>
        <activity android:name=".Taskadd"/>
        <activity android:name=".Goaladd"/>
        <activity android:name=".Taskchange"/>
        <activity android:name=".Goal"/>
        <activity android:name=".Goalchange"/>
        <activity android:name=".Dateadd"/>
        <meta-data android:value=""
            android:name="UMENG_APPKEY">
        </meta-data>
        <meta-data android:value="Test"
            android:name="UMENG_CHANNEL"/>
    </application>

</manifest>